<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Form</title>
</head>
<body>
  <form action="validate" method="POST">
    <div class="info">
      <input class="title" type="text" name="title" placeholder="Full name">
      <input type="questions" name="questions" placeholder="Email">
      <input type="members" name="members" placeholder="Phone number">
      <input type="channel" name="channel" placeholder="Password">
    <button type="submit">Submit</button>
  </form>
</body>
</html>